html{
  font-family: 'Poppins ', sans-serif;
  display: flex;
  justify-content:center;
  background-color: rgb(18, 17, 18);
  font-size: 2.2vh;


}
h1{
  text-align:center;
  color: rgb(206, 206, 206);
  width: 20em;
  font-weight:100;


}


.maincol{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  
  
}
.gridview{
  display: grid ;
  grid-template-columns: auto auto auto auto auto auto auto auto;

}


button{
  color: black;
  background-color: white;
  font-size: 1.8rem;
  border: rgb(0, 0, 0) solid 0.3px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 2.4em;
  height: 2.4em;
  margin: 0px;
  padding: 0px;
}
button:hover{
  filter: brightness(120%);
}
._0{
  background-color: white;
}
._1{
  background-color: rgb(233 253 174);
}
._2{
  background-color: rgb(211 251 94)  ;
}
._3{
  background-color:rgb(255 253 99);
}
._4{
  background-color: rgb(247 203 83);
}
._5{
  background-color: rgb(239 154 67);

}
._6{
  background-color:rgb(232 73 49);
}


li {
  padding: 10px;
}

li a {
  color: rgb(255, 255, 255);
  padding: 10px;
}

li a :hover{
  color: aqua;
}

.mainel{
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
  padding: 0 0.8em;
}
.invisible{
  width: 4em;
}