html{
  font-family: 'Poppins ', sans-serif;
  display: flex;
  justify-content:center;
  background-color: rgb(18, 17, 18);


}
h1{
  text-align:center;
  color: rgb(206, 206, 206);
  width: 650px;
  font-weight:100;

}
.gridview{
  position: absolute; 
  top: 140px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 450px;
  height: 450px;
  display: grid ;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
button{
  color: black;
  background-color: white;
  font-size: 25px;
  border: rgb(0, 0, 0) solid 0.3px;
  cursor: pointer;
}
button:hover{
  background-color: aliceblue;
}

._3{
  background-color: brown;
}
.two{
  background-color: aqua;
}