html{
  font-family: 'Poppins 100', sans-serif;

}
h1{
  display: flex;
  width: 400px;
  color: rgb(31, 4, 57);

}
.gridview{
  position: absolute; 
  top: 140px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 450px;
  height: 450px;
  display: grid ;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
button{
  color: black;
  background-color: white;
  font-size: 25px;
  border: rgb(0, 0, 0) solid 0.3px;

}